* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*stilizacao do teste*/
.box {
 display: grid;
 align-self: center;
 gap: 5px;
}